body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #cfc9ff
  ;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

select, button {
    padding: 8px;
    margin: 5px 0;
}

p {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}
